* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bar:hover {
  fill: blue;
}

#svg-wrapper {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
