* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  height: 10vh;
  width: 100vw;
  background: rgb(133, 0, 150);
  background: linear-gradient(
    0deg,
    rgb(202, 3, 233) 0%,
    rgba(123, 9, 151, 1) 15%,
    rgba(110, 0, 138, 1) 35%,
    rgba(100, 0, 128, 1) 50%,
    rgba(110, 0, 138, 1) 64%,
    rgba(123, 9, 151, 1) 82%,
    rgb(139, 0, 160) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px lightgray;
}

#logo {
  font-family: "Poppins", sans-serif;
  color: rgb(238, 189, 238);
  padding-left: 1rem;
  font-size: 2rem;
}

select {
  margin-right: 5px;
  height: 30px;
  width: 200px;
}

#or {
  font-family: "Poppins", sans-serif;
  color: rgb(238, 189, 238);
  margin-right: 5px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #cac9c9;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader-shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 5px 5px 10px gray;
  display: none;
}

#graph-label {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  color: rgb(78, 66, 82);
}

.bar:hover {
  fill: blue;
}

#svg-wrapper {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
