* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#graph-id {
  text-align: center;
  font-size: 1.5rem;
}

.bar:hover {
  fill: blue;
}

#svg-wrapper {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
